In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from astropy import units as u
from astropy import constants as const

In [27]:
df=pd.read_csv("solar_system.csv")
df

,Attribute,Mercury,Venus,Earth,Moon,Mars,Jupiter,Saturn,Uranus,Neptune,Pluto
0,Mass (10^24kg),0.330,4.87,5.97,0.073,0.642,1898,568,86.8,102,0.0130
1,Diameter (km),4879,12104,12756,3475,6792,142984,120536,51118,49528,2376
2,Density (kg/m^3),5429,5243,5514,3340,3934,1326,687,1270,1638,1850
3,Gravity (m/s^2),3.7,8.9,9.8,1.6,3.7,23.1,9.0,8.7,11.0,0.7
4,Escape Velocity (km/s),4.3,10.4,11.2,2.4,5.0,59.5,35.5,21.3,23.5,1.3
5,Rotation Period (hours),1407.6,-5832.5,23.9,655.7,24.6,9.9,10.7,-17.2,16.1,-153.3
6,Length of Day (hours),4222.6,2802.0,24.0,708.7,24.7,9.9,10.7,17.2,16.1,153.3
7,Distance from Sun (10^6 km),57.9,108.2,149.6,0.384,228.0,778.5,1432.0,2867.0,4515.0,5906.4
8,Perihelion (10^6 km),46.0,107.5,147.1,0.363,206.7,740.6,1357.6,2732.7,4471.1,4436.8
9,Aphelion (10^6 km),69.8,108.9,152.1,0.406,249.3,816.4,1506.5,3001.4,4558.9,7375.9
10,Orbital Period (days),88.0,224.7,365.2,27.3,687.0,4331,10747,30589,59800,90560
11,Orbital Velocity (km/s),47.4,35.0,29.8,1.0,24.1,13.1,9.7,6.8,5.4,4.7
12,Orbital Inclination (deg),7.0,3.4,0.0,5.1,1.8,1.3,2.5,0.8,1.8,17.2
13,Orbital Eccentricity,0.206,0.007,0.017,0.055,0.094,0.049,0.052,0.047,0.010,0.244
14,Obliquity to Orbit (deg),0.034,177.4,23.4,6.7,25.2,3.1,26.7,97.8,28.3,119.5
15,Mean Temperature (C),167,464,15,-20,-65,-110,-140,-195,-200,-225
16,Surface Pressure (bars),0,92,1,0,0.01,Unknown,Unknown,Unknown,Unknown,0.00001
17,Number of Moons,0,0,1,0,2,95,274,28,16,5
18,Ring System?,No,No,No,No,No,Yes,Yes,Yes,Yes,No
19,Global Magnetic Field?,Yes,No,Yes,No,No,Yes,Yes,Yes,Yes,Unknown

In [28]:
print(df.shape)

(20, 11)

In [29]:
df.columns

Index(['Attribute', 'Mercury', 'Venus', 'Earth', 'Moon', 'Mars', 'Jupiter',
       'Saturn', 'Uranus', 'Neptune', 'Pluto'],
      dtype='object')

In [30]:
df = df.set_index('Attribute').T
df.index.name = "Planet"
df.reset_index(inplace=True)
df.columns.name = None

In [31]:
print(df.shape)

(10, 21)

In [40]:
# a) before transposing the shape is (20,11) and after it is (10,21)
# b) 20 rows and 11 columns before, 10 rows and 21 columns after
# c) line 1 moves "attribute" into the row index and changes the rows to planets and columns to attributes
#    line 2 gives the row index the name "planet."
#    line 3 converts the index "planet" back to a column
     # line 4 clears column names if they got one through transposing
# d) the shape isnt the same because attributes became the name of the columns and we also added planets as a column
# e)
df.columns
# f) 16 colummns have units. 'Mass (10^24kg)', 'Diameter (km)', 'Density (kg/m^3)', 'Gravity (m/s^2)', 'Escape Velocity (km/s)', 'Rotation Period (hours)', 'Length of Day (hours)', 'Distance from Sun (10^6 km)', 'Perihelion (10^6 km)', 'Aphelion (10^6 km)', 'Orbital Period (days)', 'Orbital Velocity (km/s)', 'Orbital Inclination (deg)', 'Obliquity to Orbit (deg)', 'Mean Temperature (C)', 'Surface Pressure (bars)

Index(['Planet', 'Mass (10^24kg)', 'Diameter (km)', 'Density (kg/m^3)',
       'Gravity (m/s^2)', 'Escape Velocity (km/s)', 'Rotation Period (hours)',
       'Length of Day (hours)', 'Distance from Sun (10^6 km)',
       'Perihelion (10^6 km)', 'Aphelion (10^6 km)', 'Orbital Period (days)',
       'Orbital Velocity (km/s)', 'Orbital Inclination (deg)',
       'Orbital Eccentricity', 'Obliquity to Orbit (deg)',
       'Mean Temperature (C)', 'Surface Pressure (bars)', 'Number of Moons',
       'Ring System?', 'Global Magnetic Field?'],
      dtype='object')

In [41]:
# g)
df

,Planet,Mass (10^24kg),Diameter (km),Density (kg/m^3),Gravity (m/s^2),Escape Velocity (km/s),Rotation Period (hours),Length of Day (hours),Distance from Sun (10^6 km),Perihelion (10^6 km),...,Orbital Period (days),Orbital Velocity (km/s),Orbital Inclination (deg),Orbital Eccentricity,Obliquity to Orbit (deg),Mean Temperature (C),Surface Pressure (bars),Number of Moons,Ring System?,Global Magnetic Field?
0,Mercury,0.330,4879,5429,3.7,4.3,1407.6,4222.6,57.9,46.0,...,88.0,47.4,7.0,0.206,0.034,167,0,0,No,Yes
1,Venus,4.87,12104,5243,8.9,10.4,-5832.5,2802.0,108.2,107.5,...,224.7,35.0,3.4,0.007,177.4,464,92,0,No,No
2,Earth,5.97,12756,5514,9.8,11.2,23.9,24.0,149.6,147.1,...,365.2,29.8,0.0,0.017,23.4,15,1,1,No,Yes
3,Moon,0.073,3475,3340,1.6,2.4,655.7,708.7,0.384,0.363,...,27.3,1.0,5.1,0.055,6.7,-20,0,0,No,No
4,Mars,0.642,6792,3934,3.7,5.0,24.6,24.7,228.0,206.7,...,687.0,24.1,1.8,0.094,25.2,-65,0.01,2,No,No
5,Jupiter,1898,142984,1326,23.1,59.5,9.9,9.9,778.5,740.6,...,4331,13.1,1.3,0.049,3.1,-110,Unknown,95,Yes,Yes
6,Saturn,568,120536,687,9.0,35.5,10.7,10.7,1432.0,1357.6,...,10747,9.7,2.5,0.052,26.7,-140,Unknown,274,Yes,Yes
7,Uranus,86.8,51118,1270,8.7,21.3,-17.2,17.2,2867.0,2732.7,...,30589,6.8,0.8,0.047,97.8,-195,Unknown,28,Yes,Yes
8,Neptune,102,49528,1638,11.0,23.5,16.1,16.1,4515.0,4471.1,...,59800,5.4,1.8,0.010,28.3,-200,Unknown,16,Yes,Yes
9,Pluto,0.0130,2376,1850,0.7,1.3,-153.3,153.3,5906.4,4436.8,...,90560,4.7,17.2,0.244,119.5,-225,0.00001,5,No,Unknown

In [42]:
df.dtypes

Planet                         object
Mass (10^24kg)                 object
Diameter (km)                  object
Density (kg/m^3)               object
Gravity (m/s^2)                object
Escape Velocity (km/s)         object
Rotation Period (hours)        object
Length of Day (hours)          object
Distance from Sun (10^6 km)    object
Perihelion (10^6 km)           object
Aphelion (10^6 km)             object
Orbital Period (days)          object
Orbital Velocity (km/s)        object
Orbital Inclination (deg)      object
Orbital Eccentricity           object
Obliquity to Orbit (deg)       object
Mean Temperature (C)           object
Surface Pressure (bars)        object
Number of Moons                object
Ring System?                   object
Global Magnetic Field?         object
dtype: object

In [44]:
for col in df.columns:
    print(f"Column: {col}")
    print(df[col].apply(type).value_counts())
    print()

Column: Planet
Planet
<class 'str'>    10
Name: count, dtype: int64

Column: Mass (10^24kg)
Mass (10^24kg)
<class 'str'>    10
Name: count, dtype: int64

Column: Diameter (km)
Diameter (km)
<class 'str'>    10
Name: count, dtype: int64

Column: Density (kg/m^3)
Density (kg/m^3)
<class 'str'>    10
Name: count, dtype: int64

Column: Gravity (m/s^2)
Gravity (m/s^2)
<class 'str'>    10
Name: count, dtype: int64

Column: Escape Velocity (km/s)
Escape Velocity (km/s)
<class 'str'>    10
Name: count, dtype: int64

Column: Rotation Period (hours)
Rotation Period (hours)
<class 'str'>    10
Name: count, dtype: int64

Column: Length of Day (hours)
Length of Day (hours)
<class 'str'>    10
Name: count, dtype: int64

Column: Distance from Sun (10^6 km)
Distance from Sun (10^6 km)
<class 'str'>    10
Name: count, dtype: int64

Column: Perihelion (10^6 km)
Perihelion (10^6 km)
<class 'str'>    10
Name: count, dtype: int64

Column: Aphelion (10^6 km)
Aphelion (10^6 km)
<class 'str'>    10
Name: count, dtype: int64

Column: Orbital Period (days)
Orbital Period (days)
<class 'str'>    10
Name: count, dtype: int64

Column: Orbital Velocity (km/s)
Orbital Velocity (km/s)
<class 'str'>    10
Name: count, dtype: int64

Column: Orbital Inclination (deg)
Orbital Inclination (deg)
<class 'str'>    10
Name: count, dtype: int64

Column: Orbital Eccentricity
Orbital Eccentricity
<class 'str'>    10
Name: count, dtype: int64

Column: Obliquity to Orbit (deg)
Obliquity to Orbit (deg)
<class 'str'>    10
Name: count, dtype: int64

Column: Mean Temperature (C)
Mean Temperature (C)
<class 'str'>    10
Name: count, dtype: int64

Column: Surface Pressure (bars)
Surface Pressure (bars)
<class 'str'>    10
Name: count, dtype: int64

Column: Number of Moons
Number of Moons
<class 'str'>    10
Name: count, dtype: int64

Column: Ring System?
Ring System?
<class 'str'>    10
Name: count, dtype: int64

Column: Global Magnetic Field?
Global Magnetic Field?
<class 'str'>    10
Name: count, dtype: int64

In [45]:
# 3
# a) strings
# b) you cant do math with strings

In [48]:
for col in df.columns:
    if col not in ["Planet", "Ring System?", "Global Magnetic Field?"]:
        df[col] = pd.to_numeric(df[col], errors="coerce")

In [49]:
df.dtypes

Planet                          object
Mass (10^24kg)                 float64
Diameter (km)                    int64
Density (kg/m^3)                 int64
Gravity (m/s^2)                float64
Escape Velocity (km/s)         float64
Rotation Period (hours)        float64
Length of Day (hours)          float64
Distance from Sun (10^6 km)    float64
Perihelion (10^6 km)           float64
Aphelion (10^6 km)             float64
Orbital Period (days)          float64
Orbital Velocity (km/s)        float64
Orbital Inclination (deg)      float64
Orbital Eccentricity           float64
Obliquity to Orbit (deg)       float64
Mean Temperature (C)             int64
Surface Pressure (bars)        float64
Number of Moons                  int64
Ring System?                    object
Global Magnetic Field?          object
dtype: object

In [50]:
#3
# a) object, float64, int64
# b) object- a general purpose thing, float64- decimals, int64- whole numbers
# c) planets- names are strings, ring system?- contains strings, and Global Magnetic Field?- not numeric

In [77]:
# apply astropy units

def attach_units(col, unit, new_col=None):
    new_values = []
    for val in df[col]:
        new_values.append(val * unit)
    df[col] = new_values
    if new_col is not None:
        df.rename(columns={col: new_col}, inplace=True)

attach_units(
    col='Perihelion (km)',
    unit=10**6 * u.km,
    new_col="Perihelion (km)"
)

print(df["Perihelion (km)"])

0      46000000000000.0 km2
1     107500000000000.0 km2
2     147100000000000.0 km2
3        363000000000.0 km2
4     206700000000000.0 km2
5     740600000000000.0 km2
6    1357600000000000.0 km2
7    2732700000000000.0 km2
8    4471100000000000.0 km2
9    4436800000000000.0 km2
Name: Perihelion (km), dtype: object

In [79]:
for c in df.columns:
    print(repr(c))

'Planet'
'Mass (kg)'
'Diameter (km)'
'Density (kg/m^3)'
'Gravity (m/s^2)'
'Escape Velocity (km/s)'
'Rotation Period (hours)'
'Length of Day (hours)'
'Distance from Sun (10^6 km)'
'Perihelion (km)'
'Aphelion (10^6 km)'
'Orbital Period (days)'
'Orbital Velocity (km/s)'
'Orbital Inclination (deg)'
'Orbital Eccentricity'
'Obliquity to Orbit (deg)'
'Mean Temperature (C)'
'Surface Pressure (bars)'
'Number of Moons'
'Ring System?'
'Global Magnetic Field?'

In [87]:
# 2.3 data analysis

# have to make Aphelion the same units first
def attach_units(col, unit, new_col=None):
    new_values = []
    for val in df[col]:
        new_values.append(val * unit)
    df[col] = new_values
    if new_col is not None:
        df.rename(columns={col: new_col}, inplace=True)
attach_units(
    col="Aphelion (km)",
    unit=10**6 * u.km,
    new_col="Aphelion (km)"
)

print(df["Aphelion (km)"])

0      69800000000000.0 km2
1     108900000000000.0 km2
2     152100000000000.0 km2
3        406000000000.0 km2
4     249300000000000.0 km2
5     816400000000000.0 km2
6    1506500000000000.0 km2
7    3001400000000000.0 km2
8    4558900000000000.0 km2
9    7375900000000000.0 km2
Name: Aphelion (km), dtype: object

In [88]:
# 1. semi-major axis

semi_major = (df["Perihelion (km)"] + df["Aphelion (km)"]) / 2
aphelion_index = df.columns.get_loc("Aphelion (km)")
df.insert(aphelion_index + 1, "Semi-Major Axis (km)", semi_major)

print(df.columns)
print(df["Semi-Major Axis (km)"])

Index(['Planet', 'Mass (kg)', 'Diameter (km)', 'Density (kg/m^3)',
       'Gravity (m/s^2)', 'Escape Velocity (km/s)', 'Rotation Period (hours)',
       'Length of Day (hours)', 'Distance from Sun (10^6 km)',
       'Perihelion (km)', 'Aphelion (km)', 'Semi-Major Axis (km)',
       'Orbital Period (days)', 'Orbital Velocity (km/s)',
       'Orbital Inclination (deg)', 'Orbital Eccentricity',
       'Obliquity to Orbit (deg)', 'Mean Temperature (C)',
       'Surface Pressure (bars)', 'Number of Moons', 'Ring System?',
       'Global Magnetic Field?'],
      dtype='object')
0      57900000000000.0 km2
1     108200000000000.0 km2
2     149600000000000.0 km2
3        384500000000.0 km2
4     228000000000000.0 km2
5     778500000000000.0 km2
6    1432050000000000.0 km2
7    2867050000000000.0 km2
8    4515000000000000.0 km2
9    5906350000000000.0 km2
Name: Semi-Major Axis (km), dtype: object

In [97]:
# Convert Orbital Period to Years
df["Orbital Period (yr)"] = df["Orbital Period (days)"] * u.day.to(u.yr)
df.rename(columns={"Orbital Period (days)": "Orbital Period (yr)"}, inplace=True)
print(df.columns)
print(df["Orbital Period (yr)"])
earth_period = df.loc[df["Planet"] == "Earth", "Orbital Period (yr)"].iloc[0]
print(f"Earth’s orbital period: {earth_period:.4f}")

Index(['Planet', 'Mass (kg)', 'Diameter (km)', 'Density (kg/m^3)',
       'Gravity (m/s^2)', 'Escape Velocity (km/s)', 'Rotation Period (hours)',
       'Length of Day (hours)', 'Distance from Sun (10^6 km)',
       'Perihelion (km)', 'Aphelion (km)', 'Semi-Major Axis (km)',
       'Orbital Period (yr)', 'Orbital Velocity (km/s)',
       'Orbital Inclination (deg)', 'Orbital Eccentricity',
       'Obliquity to Orbit (deg)', 'Mean Temperature (C)',
       'Surface Pressure (bars)', 'Number of Moons', 'Ring System?',
       'Global Magnetic Field?', 'Orbital Period (yr)'],
      dtype='object')
   Orbital Period (yr)  Orbital Period (yr)
0                 88.0             0.240931
1                224.7             0.615195
2                365.2             0.999863
3                 27.3             0.074743
4                687.0             1.880903
5               4331.0            11.857632
6              10747.0            29.423682
7              30589.0            83.748118
8              59800.0           163.723477
9              90560.0           247.939767

TypeError: unsupported format string passed to Series.__format__

In [98]:
# Convert Distance Columns
# AU stands for astronomical units and its a measurment for the distance between earth and the sun.
const.au

<<class 'astropy.constants.iau2015.IAU2015'> name='Astronomical Unit' value=149597870700.0 uncertainty=0.0 unit='m' reference='IAU 2012 Resolution B2'>

In [99]:
print(const.au.to(u.km))

149597870.70000002 km

In [121]:
distance_cols = [
    "Diameter (AU)",
    "Perihelion (AU)",
    "Aphelion (AU)",
    "Semi-Major Axis (AU)",
] #for it to run i need to manually type AU

for col in distance_cols:
    df[col] = df[col] * u.km.to(u.AU)

for col in distance_cols:
    new_col = col.replace("(km)", "(AU)")
    df.rename(columns={col: new_col}, inplace=True)

planet = "Earth"   # change to your favorite
for col in df.columns:
    if "(AU)" in col:
        value = df.loc[df["Planet"] == planet, col].iloc[0]
        print(f"{planet} — {col}: {value}")

Earth — Diameter (AU): 2.27227238291546e-78
Earth — Perihelion (AU): 3.919981020758462e-60 km2
Earth — Aphelion (AU): 4.053223067691109e-60 km2
Earth — Semi-Major Axis (AU): 3.986602044224785e-60 km2

In [122]:
df.to_csv("units.csv", index=False)